@charset "UTF-8";
/* CSS Document */

.content {
	width: 90%;
	margin-left: 270px;
}

body {	
	color: #313537;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	line-height: 2;
	margin: 0;
	display: flex;
}

.content h1 {
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
}

.content h2 {
	text-align: center;
	color: #007cad;
	font-weight: bold;
	font-size: 24pt;
}

.content h3 {
	color: #007cad;
	font-weight: bold;
	font-size: 20pt;
}

.content h4 {
	font-weight: bold;
	font-size: 16pt;
}

.section-white {
	padding: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-grey {
	background-color: #ececec;
	padding: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-blue {
	background-color: #007cad;
	color: white;
	padding: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

	.section-blue h2 {
		color: white;
	}

	.section-blue h3 {
		color: white;
	}

	.section-blue h4 {
		color: white;
	}

.banner {
	margin: -15px;
}

.side-menu {
	width: 250px;
	background-color: #f4f4f4;
	padding: 10px;
	border-right: 1px solid #ddd;
	height: 100vh;
	position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.side-menu ul {
	list-style-type: none;
	line-height: normal;
	padding: 0;
	margin: 0;
}

.side-menu li {
	padding: 15px 20px;
	cursor: pointer;
	color: #313537;
	border-bottom: 1px solid #ddd;
	transition: background-color 0.3s ease;
}

.side-menu li a {
    text-decoration: none;
    color: #313537;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.side-menu li:hover {
	background-color: #007cad;
	color: white;
}

.side-menu li.active {
	background-color: #007cad;
	color: white;
}